nav{
    border-bottom: solid black 3px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(135, 56, 133);
    color: rgb(90, 170, 217);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    .logo{
        padding: 0 5px;
        display: flex;
        img{
            align-self: center;
            width: 50px;
            height: 50px;
            border-radius: 25px;
        }
    }
    .anchors{
        align-content: center;
        .active{
            color: black;
        }
        a{
            padding: 0 5px;
            text-decoration: none;
            color: rgb(90, 170, 217);
        }
    }
} 

body{
    margin: 0px;
    background-color: rgb(129, 134, 192)
}